.join-us-button {
  padding: 0.75rem 2rem;
  background: linear-gradient(135deg, #007bff, #3a6f91, #007bff);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  display: inline-block;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.join-us-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.join-us-button:active {
  background-color: #003d80;
  transform: scale(0.98);
}

.join-us-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

@media (min-width: 1025px) {
  .join-us-button {
    padding: 1rem 3rem; /* Increase padding */
    font-size: 1.2rem; /* Increase font size */
  }
}
