.contactSection {
  padding: 2rem;
  background: linear-gradient(to bottom, #000000, #0a0a2e);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.contactSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
      1px 1px at 25px 5px,
      #fff,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 50px 25px, #fff, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 125px 20px, #fff, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 50px 75px, #fff, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 15px 125px, #fff, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 110px 80px, #fff, rgba(255, 255, 255, 0));
  background-size: 200px 200px;
  animation: space-move 240s linear infinite;
}

.contactTitle {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.contactIconsContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}

.contactIcon {
  width: 40px;
  height: 40px;
}

.email {
  font-size: 1.5rem;
  color: blue;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .email {
    font-size: 1rem;
  }
}
